<div class="smartphone_col">
	<div class="smartphone_header">
		<img inject="image" src>
		<p inject="smartphone_name" class=caption></p>
		<p inject="price" class="price"></p>
	</div>
	<div class="border_override">
		<div class="smartphone_criterion">
			<p inject="01_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="02_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="03_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="04_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="05_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="06_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="07_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="08_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="09_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="10_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="11_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="12_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="13_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="14_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="15_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="16_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="17_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="18_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="19_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="20_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="21_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="22_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="23_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="24_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="25_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="26_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="27_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="28_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="29_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="30_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="31_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="32_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="33_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="34_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="35_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="36_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="37_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="38_crit">-</p>
		</div>
		<div class="smartphone_criterion">
			<p inject="39_crit">-</p>
		</div>
	</div>
</div>
