<div class="item">
	<div class="image_container">
    	<img inject="image" src>
    </div>
    <div class="title_container">
        <div inject="title" class="title"></div>
        <input inject="checkbox" id name="compare" type="checkbox"></input>
        <label inject="label" for><span></span>Click to compare</label>
    </div>
    <div inject="price" class="price"></div>
</div>