* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
	height: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #ecf0f1;
    font-family: "bariol";
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

@font-face {
    font-family: "bariol";
    src: url("../fonts/Bariol.ttf") format("opentype");   
    /* Make sure you defined the correct path, which is related to
    the location of your file `my_css.css` */ 
}

#navigation-bar {
    height: 50px;
    background: rgba(41, 187, 156, 1.0);
    position: relative;
    border-bottom: solid 1px black;
    z-index: 9999;
}

#navigation-bar .left {
    height: 100%;
    width: 50px;
    float: left;
    border-right: solid 1px #159279;
    z-index: 1;
}

#navigation-bar .left > a {
	border-right: solid 1px #1fd9b4;
	display: block;
    width: 49px;
    height: 100%;
    cursor: pointer;
}

#navigation-bar .right {
    float: right;
    height: 100%;
    width: 50px;
    border-left: solid 1px #1fd9b4;
    z-index: 1;
}

#navigation-bar .right > a {
	border-left: solid 1px #159279;
	display: block;
    width: 49px;
    height: 100%;
    cursor: pointer;
}

#navigation-bar .title {
	font-family: "bariol";
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 50px;
    pointer-events: none;
}

#navigation-bar .back > a {
	background: url('../img/left_arrow.png');
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center center;
}

#navigation-bar .filters > a {
	background: url('../img/filters.png');
    background-size: 59%;
    background-repeat: no-repeat;
    background-position: center center;
}

.ios-arrow-left {
    cursor:pointer;
    display : block; 
    position:absolute;
    z-index : 0;
    height:30px;
    width:auto;
    padding: 0 10px 0 6px;
    background-repeat:repeat-x;
    background-size : 100% 30px;
    background-position :0;
    background-image : -webkit-linear-gradient(
        bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    border-radius: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    box-shadow :0 -1px 1px rgba(0,0,0,0.2)inset,
                0 1px 2px rgba(0,0,0,0.8)inset;
    font-family : HelveticaNeue;
    font-weight: 400;
    font-size : 12px;
    line-height : 30px;
    text-align:center;
    color:#fff;
    text-shadow : 0px -1px 0px rgba(0,0,0,0.8);
}

.ios-arrow-left:before{
    position:absolute;
    content : ' ';
    left:-8px;
    top:3.5px;
    height : 24px;
    width: 24px;
    z-index : 1;
    background-repeat:repeat-x;
    background-size : 20px 20px;
    background-position :-1px -0.5px;
    background-image :  
        -webkit-gradient(linear, left bottom, right top, 
            from(rgba(0,0,0,0)), 
            color-stop(0.5, rgba(0,0,0,0)), 
            color-stop(0.5, rgba(255,255,255,0.1)), 
            to(rgba(255,255,255,0.3))); 
    -webkit-transform : rotate(-45deg) skew(-10deg, -10deg);
    border-top-right-radius : 10px;
    border-top-left-radius :0px;
    border-bottom-right-radius : 0px;
    border-bottom-left-radius : 10px;
    border-left : 1.5px solid rgba(255,255,255,0.4);
    box-shadow :  1px 1px 1px rgba(0,0,0,0.4) inset,
        -1px 1px 1px rgba(0,0,0,0.5) inset;
    -webkit-mask-image : 
        -webkit-gradient(linear, left top, right bottom,
            from(#000000), 
            color-stop(0.4,#000000), 
            color-stop(0.5, transparent), 
            to(transparent));
}

.ios-black-button {
    cursor:pointer;
    display : block; 
    position:absolute;
    z-index : 0;
    height:30px;
    width:auto;
    padding: 0 6px 0 10px;
    background-repeat:repeat-x;
    background-size : 100% 30px;
    background-position :0;
    background-image : -webkit-linear-gradient(
        bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    border-radius: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    box-shadow :0 -1px 1px rgba(0,0,0,0.2)inset,
                0 1px 2px rgba(0,0,0,0.8)inset;
    font-size : 16px;
    line-height : 30px;
    text-align:center;
    color:#fff;
    text-shadow : 0px -1px 0px rgba(0,0,0,0.8);
    background-color: rgba(33,33,33,1);
}

.ios-arrow-right {
    cursor:pointer;
    display : block; 
    position:absolute;
    z-index : 0;
    height:30px;
    width:auto;
    padding: 0 6px 0 10px;
    background-repeat:repeat-x;
    background-size : 100% 30px;
    background-position :0;
    background-image : -webkit-linear-gradient(
        bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    border-radius: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    box-shadow :0 -1px 1px rgba(0,0,0,0.2)inset,
                0 1px 2px rgba(0,0,0,0.8)inset;
    font-family : HelveticaNeue;
    font-weight: 400;
    font-size : 12px;
    line-height : 30px;
    text-align:center;
    color:#fff;
    text-shadow : 0px -1px 0px rgba(0,0,0,0.8);
}

.ios-arrow-right:after{
    position:absolute;
    content : ' ';
    right:-7.5px;
    top:3px;
    height : 24px;
    width: 24px;
    z-index : 1;
    background-repeat:repeat-x;
    background-size : 20px 20px;
    background-position :-1px -0.5px;
    background-image :  
        -webkit-gradient(linear, left bottom, right top, 
            from(rgba(255,255,255,0.3)), 
             color-stop(0.5, rgba(255,255,255,0.1)), 
           color-stop(0.5, rgba(0,0,0,0)), 
            to(rgba(0,0,0,0))); 
    -webkit-transform : rotate(135deg) skew(-10deg, -10deg);
    border-top-right-radius : 10px;
    border-top-left-radius :0px;
    border-bottom-right-radius : 0px;
    border-bottom-left-radius : 10px;
    border-top : 1.5px solid rgba(255,255,255,0.4);
    box-shadow :  1px 1px 1px rgba(0,0,0,0.5) inset,
        -1px 1px 1px rgba(0,0,0,0.4) inset;
    -webkit-mask-image : 
        -webkit-gradient(linear, left top, right bottom,
            from(#000000), 
            color-stop(0.4,#000000), 
            color-stop(0.5, transparent), 
            to(transparent));
}
.ios-arrow-left,
.ios-arrow-left:before {
    background-color: rgba(74,108,155,1);/*normalcolor*/
}

.ios-arrow-left:hover,
.ios-arrow-left:hover:before {
    background-color: rgba(54,88,135,1);/*hovercolor*/
}

.ios-arrow-right,
.ios-arrow-right:after {
    background-color: rgba(33,33,33,1);/*normalcolor*/
}

.ios-arrow-right:hover,
.ios-arrow-right:hover:after {
    background-color: rgba(0,0,0,1);/*hovercolor*/
}

/*input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    background:white;
}*/