.comparator {
	height: 100%;
}

.criteria_title_div {
	width: 80px;
	height: 100%;
	float: left;
}

.neutral_logo {
	width: 100%;
	height: 208px;
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: 50% 50%;
	border-bottom: 5px solid #2d4359;
	border-right: 1px solid #2d4359;
}

.criteria_titles {
	width: 100%;
	height: 100%;
	margin-top: 10px;
	padding: 0;
}

.criterion_title {
	height: 46px;
	border-top: 1px solid #2d4359;
	border-bottom: 1px solid #2d4359;
	border-right: 1px solid #2d4359;
	text-align: center;
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-align-justify-content: center;
}

.criterion_title p {
	display: inline-block;
	font-size: 14px;
}

.comparator_table {
	height: 100%;
	overflow: auto;
	white-space: nowrap;
}

.comparator_table div.smartphone_col {
	display: inline-block;
	width: 140px;
	text-align: center;
}

.smartphone_col div.smartphone_header {
	width: 100%;
	height: 208px;
	display: inline-block;
	border-bottom: 5px solid #2d4359;
	margin-bottom: 10px;
}

.smartphone_col .smartphone_header img {
	max-width: 140px;
	height: 140px;
}

.smartphone_col .smartphone_header p {
	height: 25px;
	font-size: 16px;
	margin: 0;
	margin-top: 5px;
}

.smartphone_col .smartphone_criterion {
}

.smartphone_col .smartphone_criterion p {
	height: 20px;
	font-size: 14px;
	width: 100%;
	max-width: 100%;
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-align-justify-content: center;
	text-align: center;
	word-break: break-word;
	word-wrap: break-word;
	overflow: hidden;
}

.smartphone_col div.smartphone_criterion {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-align-justify-content: center;
}

.smartphone_col div.smartphone_criterion.best {
	background-image: url('../img/best.png');
	background-repeat: no-repeat;
	background-position: 7px 5px;
	color: #34495e;
	font-weight: bold;
}

.smartphone_criteria {
	margin-top: 5px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 2px solid red;
}

div.smartphone_criterion {
	padding: 6px;
	position: relative;
}
div.smartphone_criterion:before , div.smartphone_criterion:after {
	content: '';
	border: 1px solid transparent;
	position: absolute;
}

div.smartphone_criterion:before {
	left: 4px;
	right: 4px;
	top: 0;
	bottom: 0;
	border-top-color: #9ca7b0;
	border-bottom-color: #9ca7b0;
}

div.smartphone_criterion:after {
	top: 4px;
	bottom: 4px;
	left: 0;
	right: 0;
	border-right-color: #9ca7b0;
	border-left-color: #9ca7b0;
}
