/* Portrait layout (default) */

/* List */

#home .list {
    margin-bottom: 70px;
}

#home .list .item .image_container {
    width: 60px;
    text-align: center;
}

#home .list .item img {
    height: 60px;
    max-width: 60px;
    display: inline-block;
    margin-right: 5px;
}

#home .list .item .title_container {
    display: inline-block;
    margin-right: 5px;
}

.list .item .title_container input[type="checkbox"] {
    margin-top: 5px;
    display: none;
}

#home .list .item .price {
    display: inline-block;
    color: red;
    margin-left: auto;
}

#home .list .item {
    padding: 5px;
    border-bottom: solid 1px black;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    font-size: 15px;
}

#home .list .item.selected {
    background-color: rgba(230, 126, 34,0.5);
}

/* End of list */

/* Drag and Drop */

#home #drop {
    pointer-events: none;
    width: 100%;
    height: calc(100% - 55px);
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    top: 0;
    text-align: center;
    opacity: 0;

    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

#home #drop.show {
    opacity: .95;
}

#home #drop.over > span {
    border: dashed 1px #34495e;
}

#home #drop > span {
    left: 0;
    top: 50%;
    position: absolute;
    width: 100%;
    font-size: 20px;
    padding: 5px 0 5px 0;
}

/* End of Drad and Drop */

/* Compare bar */

#home #compare_bar .item img {
    height: 40px;
    margin-bottom: 5px;
    display: block;
    margin: 0 auto;
}

#home #compare_bar {
    height: 55px;
    bottom: -65px;
    background: rgba(41, 187, 156, 1.0);
    padding: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;

    -webkit-transition: bottom .5s ease;
    -moz-transition: bottom .5s ease;
    -o-transition: bottom .5s ease;
    -ms-transition: bottom .5s ease;
    transition: bottom .5s ease;
}

#home #compare_bar.show {
    bottom: 0;
}   

#home #compare_bar .item {
    display: inline-block;
    margin-right: 5px;
    border: dashed 1px #34495e;
    padding: 3px;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    width: 55px;
    height: 50px;
}

#home .arrow_compare {
    right: 5px;
    top: 7px;
    position: absolute;
    cursor: pointer;
}

#home .arrow_compare img {
    height: 55px;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/* Load more */

#home .loading {
    margin-top: -35px;
    width: 100%;
    text-align: center;
}

#home .seemore {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

/* End of Load more */

/* Filters */

#filters-panel {
    width: 100%;
    min-height: calc(100% - 51px);
    background-color: #2c3e50;
    padding: 20px;
    top: calc(0px - (100% - 51px));
    position: absolute;

    -webkit-transition: top .5s ease;
    -moz-transition: top .5s ease;
    -o-transition: top .5s ease;
    -ms-transition: top .5s ease;
    transition: top .5s ease;
}

#filters-panel.show {
    top: 51px;
}

#filters-panel > span {
    color: rgba(41, 187, 156, 1.0);
    font-size: 20px;
    font-weight: bold;
}

#filters-panel .filter-cat {
    width: -moz-calc(100% - 15px);
    width: -webkit-calc(100% - 15px);
    width: calc(100% - 50px);
    min-height: 45px;
    background-color: #ecf0f1;
    margin-bottom: 10px;
    padding: 5px;
    color: #e67e22;
}

#filters-panel .filter-cat.brand .checkbox {
    width: 15px;
    height: 15px;
}

#filters-panel .filter-cat.brand label {
    font-size: 15px;
}

#filters-panel .filter-cat.price #slider-price {
    margin-top: 10px;
}

#filters-panel .filter-cat.price input {
    border: 0;
    color: #e67e22;
    font-weight: bold;
    background: transparent;
}

#filters-panel .filter-cat.price .ui-slider-range.ui-widget-header.ui-corner-all {
    background: #e67e22;
}

#filters-panel .filter-cat.storage #slider-storage {
    margin-top: 10px;
}

#filters-panel .filter-cat.storage input {
    border: 0;
    color: #e67e22;
    font-weight: bold;
    background: transparent;
}

#filters-panel .filter-cat.storage .ui-slider-range.ui-widget-header.ui-corner-all {
    background: #e67e22;
}

#filters-panel .filter-cat.ram #slider-ram {
    margin-top: 10px;
}

#filters-panel .filter-cat.ram input {
    border: 0;
    color: #e67e22;
    font-weight: bold;
    background: transparent;
}

#filters-panel .filter-cat.ram .ui-slider-range.ui-widget-header.ui-corner-all {
    background: #e67e22;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}
